[defaults]
inventory = ./inventory.yml
private_key_file = ~/.dotfiles_secret/ssh_keys/blitzblit-3.pem
host_key_checking = False
retry_files_enabled = False
result_format = yaml
forks = 5

[ssh_connection]
pipelining = True
